body {
       border-top: 15px solid black;
}

.image-Right {
    float: right;
    margin-right: 200px;
    height: 670px;
    width : 550px
}

.paraStyle {
    position: absolute;
    bottom: 90px;
    right: 480px;
    color: aliceblue;
    font-size: 20px;
}

.loginBody {
    display:inline-block;
    margin-top: 150px;
    width: 500px;
    height:500px;
    margin-left:200px;
    margin-right:30px;
 
  }

h1 {
    display: inline-block;  
    color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    font-size: 20px;
}

.para2Style {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.inputClassreset {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formStyle {
    display: inline-flex;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start; /* Aligns items to the start vertically */
}


.logoutButtondisplay {
    display: grid;
    position:fixed;
    top: 20px;       
    right: 20px;     
    z-index: 100;
    background-color: brown;   
    width: 60px;
    color: aliceblue;
}

.itemList {
    display: grid;
    margin: 20px;
    border-color: 2px solid darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.listContainerOne {
    position: fixed;
    bottom: 150px;
    left: 50px;
     }

.itemList1, .itemList2, .itemList3, .itemList4, .itemList5, .itemList6 {
    margin: 10px;
    font-size: 20px;
    
}

.menuListitems {
    position:fixed;
    display: flex;
    left:300px;
}

.searchItem, .showCartButton, .showProductButton, .menuItemButton {
    position: relative;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.logoImageClass {
    margin: 10px;
    width: 120px;
}